@{ 
    ViewData["Title"] = "Eliminar Tablero";
}

@model tl2_tp10_2023_danielsj1996.Models.Tablero

<h2>Confirmar Eliminación</h2>

<form asp-controller="Tablero" asp-action="ConfirmarEliminar">
    <input asp-for="@Model.IdTablero" type="hidden" />
    <button type="submit" class="btn btn-danger">Eliminar</button>

</form>