@using tl2_tp10_2023_danielsj1996.Repositorios
@{
    ViewData["Title"] = "Index Tablero";
}
<h1>Opciones de Tablero</h1>

<div class="table-responsive">
    @if (Autorizacion.EsAdmin(ViewContext.HttpContext))
    {
        <form asp-controller="Tablero" asp-action="BuscarTableroPorNombre" method="get" class="w-100">
            <div class="input-group mb-3">
                <input type="text" name="nombre" class="form-control " placeholder="Nombre del tablero"
                    aria-label="Nombre del tablero" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <a asp-controller="Tablero" asp-action="CrearTablero"
            class="list-group-item list-group-item-action bg-success text-white mb-3"><i class="fas fa-plus me-2"></i>Crear
            Tablero</a>

        <a asp-controller="Tablero" asp-action="MostrarTodosLosTableros"
            class="list-group-item list-group-item-action bg-primary text-white mb-3"><i
                class="fas fa-list me-2"></i>Mostrar todas las Tableros</a>
    }
    <a asp-controller="Tablero" asp-action="ListarTablerosDeUsuarioEspecifico"
        asp-route-idUsuario="@Autorizacion.ObtenerIdUsuario(ViewContext.HttpContext)"
        class="list-group-item list-group-item-action bg-primary text-white">
        <i class="fas fa-tasks me-2"></i>Mostrar Mis Tableros</a>
</div>