@using tl2_tp10_2023_danielsj1996.Repositorios
@{
    ViewData["Title"] = "Home Index";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mt-5 mb-4">Proyecto KanBan</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        @if (Autorizacion.EsAdmin(ViewContext.HttpContext))
        {
            <div class="col-md-3">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <a asp-controller="Usuario" asp-action="Index">
                            <i class="fas fa-user fa-3x mb-2"></i>
                            <h5 class="card-title">Opciones para control de Usuarios</h5>
                        </a>
                    </div>
                </div>
            </div>
        }

        <div class="col-md-3">
            <div class="card text-center mb-3">
                <div class="card-body">
                    <a asp-controller="Tablero" asp-action="Index">
                        <i class="fas fa-clipboard-list fa-3x mb-2"></i>
                        <h5 class="card-title">Opciones para control de Tableros</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center mb-3">
                <div class="card-body">
                    <a asp-controller="Tarea" asp-action="Index">
                        <i class="fas fa-tasks fa-3x mb-2"></i>
                        <h5 class="card-title">Opciones para contro de Tareas</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>