@{
    ViewData["Title"] = "Taller de Lenguajes II - 2023";
}

<div class="text-center">
    <h1 class="display-4">TP Nro 13</h1>
    <div>
        <a asp-controller="Usuario" asp-action="Index">Usuarios</a>
        <br />
        <a asp-controller="Tablero" asp-action="Index">Tableros</a>
        <br />
        <a asp-controller="Tarea" asp-action="Index">Tareas</a>
    </div>
</div>
