@{
    ViewData["Title"] = "Eiminar Tarea";
}

@model tl2_tp10_2023_danielsj1996.Models.Tarea

<h1>Eliminar Tarea</h1>

<form asp-controller="Tarea" asp-action="EliminarTarea" method="post">
    <input type="hidden" asp-for="@Model.IdTarea" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>
