@{
    ViewData["Title"] = "Eiminar Tarea";
}

@model tl2_tp10_2023_danielsj1996.Models.Tarea

<h1>Eliminar Tarea</h1>

<p>¿Estás seguro de que deseas eliminar la tarea "@Model.NombreTarea"?</p>

<form asp-controller="Tarea" asp-action="Eliminar" method="post">
    <input type="hidden" asp-for="IdTarea" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>
