@using tl2_tp10_2023_danielsj1996.Repositorios
@model tl2_tp10_2023_danielsj1996.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Index Usuarios";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mt-5 mb-4">Opciones de Tareas</h1>
        </div>
    </div>
    @if (Autorizacion.ObtenerRol(ViewContext.HttpContext) == "admin")
    {
        <form asp-controller="Tarea" asp-action="BuscarTareasPorNombre" method="get" class="w-100">
            <div class="input-group mb-3">
                <input type="text" name="nombre" class="form-control" placeholder="Nombre de la tarea"
                    aria-label="Nombre de la tarea" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <a asp-controller="Tarea" asp-action="CrearTarea"
            class="list-group-item list-group-item-action bg-success text-white mb-3"><i class="fas fa-plus me-2"></i>Crear
            Nueva Tarea</a>

        <a asp-controller="Tarea" asp-action="MostrarTodasLasTareas"
            class="list-group-item list-group-item-action bg-primary text-white mb-3"><i
                class="fas fa-list me-2"></i>Mostrar todas las Tareas</a>
    }
    <a asp-controller="Tarea" asp-action="ModificarTareaDeUsuarioEspecifico"
        asp-route-idUsuario="@Autorizacion.ObtenerIdUsuario(ViewContext.HttpContext)"
        class="list-group-item list-group-item-action bg-primary text-white">
        <i class="fas fa-tasks me-2"></i>Mostrar Mis Tareas</a>
</div>
