@{

    ViewData["Title"]="Eliminar Usuario";
}

@model tl2_tp10_2023_danielsj1996.Models.Usuario
<h2>Confirmar eliminación</h2>


<form asp-controller="Usuario" asp-action="EliminarUsuario">
    <input asp-for="@Model.IdUsuario" type="hidden" />
    <button type="submit" class="btn btn-danger">Confirmar</button>
</form>
