@{

    ViewData["Title"]="Eliminar Usuario"
}

@model tl2_tp10_2023_danielsj1996.ViewModels.EliminarUsuarioViewModel
<h2>@ViewDada["Title"]</h2>


<form asp-controller="Usuario" asp-action="EliminarUsuario">
    <input asp-for="@Model.Id" type="hidden" />
    <button type="submit" class="btn btn-danger">Confirmar</button>
</form>
