@{
    ViewData["Title"] = "Usuarios";
}

<div class="text-center">
    <h2>Opciones de Usuarios</h2>

    <ol>
        <li><a asp-controller="Usuario" asp-action="MostrarTodosUsuarios">Mostrar Todos los Usuarios</a></li>
        <li><a asp-controller="Usuario" asp-action="AgregarUsuario">Crear Usuario</a></li>
        <li><a asp-controller="Usuario" asp-action="ModificarUsuario">Modificar Usuario</a></li>
        <li><a asp-controller="Usuario" asp-action="EliminarUsuario">Eliminar Usuario</a></li>
    </ol>

</div>
