@model List<Usuario>
<div>
    <a asp-controller="Usuario" asp-action="AgregarUsuario">Agregar Usuario</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <th scope="row">@usuario.IdUsuario</th>
                <td>@usuario.NombreDeUsuario</td>
                <td>
                    <a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-id="@usuario.IdUsuario">Editar</a>
                    <a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-id="@usuario.IdUsuario">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>